{% extends "maintemplate.html" %}

{% block title %}Soft1 Objects explorer{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    $(document).on('click','.button_get_orders_from_wecare', function(){

      console.log("Getting orders from Wecare");
      poll();

      req = $.ajax({
            context: this,
            url : 'ajax_get_orders_from_wecare',
            type : 'GET'
        });

      req.done(function(data) {

          $('#progress_monitor').html(data);
      });
    });


    function poll() {
    setTimeout(function() {
        $.ajax({
            url: "ajax_polling",
            type: "GET",
            success: function(data) {
                console.log("polling");
                 $('#progress_monitor').html(data);
            },
            dataType: "html",
            complete: setTimeout(function() {poll()}, 5000),
            timeout: 2000
        })
    });
    };

  });
</script>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div>
  <h5>Download Panel</h5>
  <div id="progress_monitor">
    <p>Πατα το κουμπί για να κατευάσεις τις παραγγελίες της ημέρας και περίμενε</p>
    <button type="button" class="btn btn-primary button_get_orders_from_wecare" > Get orders from wecare </button>
  </div>
</div>


{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
