{% extends "bootstrap/base.html" %}

{% block title %}Soft1 Authendicated{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="mainMenu" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownSales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ρυθμίσεις</a>
            <div class="dropdown-menu" aria-labelledby="dropdownSales">

              <a class="dropdown-item" href="/download_data">Ανανέωση παραγγελιών από Wecare</a>
              <a class="dropdown-item" href="/?page=0&order_type=3">Επιστροφές Παραδομένες</a>
              <a class="dropdown-item" href="/cleardelivered">Αφαίρεση παραδομένων παραγγελιών</a>

            </div>
          </li>
          {% if data  %}
          <li class="nav-item active">
              <a role="button" class="btn btn-light">Γενικη:<span class="badge badge-light">{{data['genikionline']}}</span> </a>

          </li>
          <li class="nav-item active">
          <button type="button" class="btn btn-primary" >{{data['smsbalance']}} <span class="badge badge-light">SMS υπόλοιπο</span> </button>
          </li>
          <li class="nav-item active">
          <button type="button" class="btn btn-danger" >{{data['count']}} <span class="badge badge-light">Συνολικές μη παραδομένες παραγγελίες</span> </button>
          </li>
          <li class="nav-item active">
          <button type="button" class="btn btn-dark" ><span class="badge badge-light">Σελίδα</span> {{data['page']}} <span class="badge badge-light">από</span> {{data['pages']}} </button>
          </li>
          {% endif %}
          <li class="nav-item active">
          <a role="button" class="btn btn-warning" href="/download_data">Download Orders</a>
          </li>
        </ul>

      </div>

    </nav>

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
     &copy; Copyright 2018 by <a href="http://wecare.gr/">wecare.gr</a>.
{% endblock %}
