{% extends "maintemplate.html" %}

{% block title %}Soft1 Objects explorer{% endblock %}
{% block head %}

{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click','.updateButton', function(){
      var order_id = $(this).attr('order_id')
      console.log("Update row order "+ order_id);

      req = $.ajax({
            url : 'ajax_updaterow',
            type : 'POST',
            data : { id : order_id }
        });

      req.done(function(data) {

          $('#action_section_'+order_id).html(data);
          $('#action_section_'+order_id).fadeOut(1500)
          $('#action_section_'+order_id).fadeIn(1500);
      });
  	});



    $(document).on('click','.show_type_ordersButton', function(){
      var type = $(this).attr('order_type')
      console.log("Show type orders "+ type);

      req = $.ajax({
            url : 'ajax_show_orders',
            type : 'GET',
            data : { type : type }
        });

      req.done(function(data) {
          $('#orders_body').fadeOut(200)
          $('#orders_body').html(data);
          $('#orders_body').fadeIn(500);
      });
    });

    $(document).on('click','.buttonSendEmail', function(){
      var order_id = $(this).attr('order_id')
      console.log("Email order "+ order_id);
      var emailText = $('#SendEmail_text_'+order_id).val()
      console.log("Email text "+ emailText);
      var subject = $('#SendEmail_subject_'+order_id).val()
      console.log("Email subj "+ subject);
      var recipient_email = $(this).attr('recipient_email')
      console.log("Email recipient email "+ recipient_email);
      var recipient_name = $(this).attr('recipient_name')
      console.log("Email recipient email "+ recipient_name);
      req = $.ajax({
            context: this,
            url : 'ajax_send_email',
            type : 'POST',
            data : { id : order_id, emailText : emailText, subject:subject, recipient_email:recipient_email, recipient_name:recipient_name }
        });

      req.done(function(data) {
          $(this).fadeOut(1000);
          $(this).disabled=true;
          $(this).text(data.responce);
      });
  	});

    $(document).on('click','.buttonSendEmailCust', function(){
      var order_id = $(this).attr('order_id')
      console.log("Email order "+ order_id);
      var emailText = $('#SendEmailCust_text_'+order_id).val()
      console.log("Email text "+ emailText);
      var subject = $('#SendEmailCust_subject_'+order_id).val()
      console.log("Email subj "+ subject);
      var recipient_email = $(this).attr('recipient_email')
      console.log("Email recipient email "+ recipient_email);
      var recipient_name = $(this).attr('recipient_name')
      console.log("Email recipient email "+ recipient_name);
      req = $.ajax({
            context: this,
            url : 'ajax_send_email',
            type : 'POST',
            data : { id : order_id, emailText : emailText, subject:subject, recipient_email:recipient_email, recipient_name:recipient_name }
        });

      req.done(function(data) {

          $(this).disabled=true;
          $(this).text(data.responce);

          $(this).fadeOut(1000)
      });
    });

    $(document).on('click','.buttonTelCall', function(){
      var order_id = $(this).attr('order_id')
      console.log("order "+ order_id);
      var calltext = $('#Calltext_'+order_id).val()
      console.log("Call text "+ calltext);
      req = $.ajax({
            context: this,
            url : 'ajax_tel_call',
            type : 'POST',
            data : { id : order_id, calltext : calltext }
        });

      req.done(function(data) {
        $(this).disabled=true;
        $(this).text(data.responce);
        $(this).fadeOut(1000);
      });
    });
  });
</script>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}

{% if data!=None  %}
  {% if data['success']%}
<div class="alert alert-secondary" role="alert">


  <a role="button" class="btn btn-danger" href="/?page=0&order_type=Αδυναμία παράδοσης - Άγνωστος Παραλήπτης">Άγνωστοι Παραλήπτες</a>
  <a role="button" class="btn btn-warning" href="/?page=0&order_type=Αδυναμία παράδοσης - Παραμονή με συνεννόηση">Αδυναμία παράδοσης</a>
<a role="button" class="btn btn-warning" href="/?page=0&order_type=Αδυναμία παράδοσης - Παράδοση σε 2-3 ημέρες">Αδυναμία 2-3 μερες</a>
  <a role="button" class="btn btn-secondary" href="/?page=0&order_type=Αδυναμία παράδοσης - Απών Σημείωμα">Απών Σημείωμα</a>
  <a role="button" class="btn btn-dark" href="/?page=0&order_type=2">Επιστροφες</a>




</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if data['page'] < 1%} disabled {% endif %}"><a class="page-link" href="?page={{data['page']-1}}&order_type={{data['order_type']}}">Previous</a></li>
    {% for pag in range(1,data['pages']+1) %}
    <li class="page-item {% if data['page'] == pag %} active {% endif %}"><a class="page-link" href="?page={{pag}}&order_type={{data['order_type']}}">{{pag}}</a></li>
    {% endfor %}
    <li class="page-item {% if data['page'] > data['pages']-1 %} disabled {% endif %}"><a class="page-link" href="?page={{data['page']+1}}&order_type={{data['order_type']}}">Next</a></li>
  </ul>
</nav>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order id</th>
      <th scope="col">Ημερομηνία Τιμολόγησης</th>
      <th scope="col">Voucher No</th>
      <th scope="col">Όνομα</th>
      <th scope="col">Επικοινωνία</th>
      <th scope="col">Ημ/νια scan</th>

      <th scope="col">Τελευταίο scan</th>
      <th scope="col">Track</th>
      <th scope="col">email Γενικη</th>
      <th scope="col">email Customer</th>
      <th scope="col">Τηλεφωνική Επικοινωνία</th>
    </tr>
  </thead>
  <tbody id="orders_body">
    {% for ord in data['rows'] %}
    <tr class="order_row {% if ord['is_insecure']=='1' %} table-danger {% endif %}" order_id="{{ord['id']}}" id="order_row_{{ord['id']}}">
      <th scope="row"><a href="/order_posts?id={{ord['id']}}&page={{data['page']}}" type="button" class="btn btn-primary">{{ord['order_serial']}}</a></th>
      <td>{{ord['date_invoiced']}}

      </td>
      <td><b>{{ord['voucher_no']}}</b></td>
      <td >{{ord['pricing_surname']}} {{ord['pricing_name']}}
        <p id="action_section_{{ord['id']}}">
          {% for act in ord['actions']%}
             <button type="button" class="btn btn-primary btn-sm">{{act}}</button>
          {% endfor %}
        </p>
      </td>
      <td>{{ord['shipping_phone']}}<br>{{ord['shipping_mobile']}}<br></td>
      <td>


        <button type="button" class="  {% if ord.hasnewstatus %} btn btn-info   {% else %} btn btn-dark {% endif %}" data-toggle="collapse" data-target="#admin_com_collapse{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
          {{ord['lastCheck']['StatusDate']}}
          <span class="badge badge-light">{{ord['gtcount']}} </span>
          {% if ord.hasnewstatus %}
            <span class="badge badge-light">New </span>
          {% endif %}
        </button>
        <div class="collapse" id="admin_com_collapse{{ord['order_serial']}}">
        <form action="/" method="post" enctype="multipart/form-data">
          <div class="form-group mb-3">
            <input type="hidden" name="order_id" value="{{ord['order_serial']}}">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="is_resolved" value=1 id="is_resolved{{ord['order_serial']}}" {% if ord['is_resolved']==1 %} checked {% endif %}>
              <label class="form-check-label" for="is_resolved{{ord['order_serial']}}">
                Ολοκλήρωση παρακολούθησης
              </label>
            </div>
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">voucher</span>
              </div>
              <input type="text" class="form-control" placeholder="Voucher" name="voucher_no" value="{{ord['voucher_no']}}" aria-label="Voucher" aria-describedby="addon-wrapping">
            </div>
            <textarea class="form-control" name="txtAdminComments" rows="2">{{ord['admin_comments']}}</textarea>
               <button type="submit" class="btn btn-primary">Submit</button>

          </div>
        </form>

        </div>
      </td>
      <td>
        <div class="container-fluid">
          <button type="button" class="btn btn-{{ord['lastCheck']['alert']}} " data-toggle="collapse" data-target="#collapse{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
        {{ord['lastCheck']['Status']}}
        </button>


        <div class="collapse" id="collapse{{ord['order_serial']}}">
          <div class="card card-body">
            <ul class="list-group">
              <li class="list-group-item">Comments:
              {{ord['courier_comments']}}
              </li>

              {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
              <li class="list-group-item">
                <button type="button" class="btn btn-{{tra['alert']}}">
                {{tra['Shop']}}  <span class="badge badge-light">{{tra['Status']}}</span><span class="badge badge-light">{{tra['StatusDate']}}</span>
                </button>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        </div>
      </td>
      <td>
         {% if ord.lastCheck.shop_details %}
        <button type="button" class="btn btn-dark " data-toggle="modal" data-target="#ShopModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
         {{ord['lastCheck']['Shop']}}
         </button>
         <!-- Button trigger modal -->



       <!-- Modal -->
       <div class="modal fade" id="ShopModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">  {{ord['lastCheck']['shop_details']['City']}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
               {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
               Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
               email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
       {% endif %}
      </td>
      <td>
         {% if ord.lastCheck.shop_details %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#SendEmailModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
         Send
         </button>
         <!-- Button trigger modal -->
       <!-- Modal -->
       <div class="modal fade" id="SendEmailModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">Email Γενικη Ταχυδρομικη
                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Subject</span>
                    </div>
                    <input type="text" class="form-control block" id="SendEmail_subject_{{ord['id']}}" value="Voucher {{ord['voucher_no']}} καθυστέρηση παράδοσης" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                  </div>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <textarea class="form-control" name="telephonecall" id="SendEmail_text_{{ord['id']}}" rows="12">
                <p>Η αποστολή με voucher <b>{{ord['voucher_no']}}</b> δεν έχει παραδοθεί ακόμη και είναι σε κατάσταση <span style="background-color: #ffff99;">{{ord['lastCheck']['Status']}} [{{ord['lastCheck']['StatusDate']}}]</span></p>
                <p>Παρακαλώ να γίνει διευκρίνηση ποιος είναι ο λόγος καθυστέρησης</p>
                <div>
                {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
                <li class="list-group-item">
                  {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
                </li>
                {% endfor %}
                </div>
                <div>
              <h2>Κατάστημα τελευταίου σκαναρίσματος</h2><br>
              {% if ord.lastCheck.shop_details %}
               Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
               {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
               Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
               email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
              {% endif %}
              <br>
              </textarea>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-primary buttonSendEmail" recipient_email="emailGeniki" recipient_name="Γενική Φιλιππιάδας" order_id="{{ord['id']}}">Send email</button>
               <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
       {% endif %}
      </td>
      <td>
        <!-- Button trigger modal email to customer-->
         {% if ord.lastCheck.shop_details %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendEmailCustModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
         Send
         </button>

       <!-- Modal -->
       <div class="modal fade" id="SendEmailCustModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">Email {{ord['pricing_surname']}} {{ord['pricing_name']}} - {{ord['customer_email']}}
                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Subject</span>
                    </div>
                    <input type="text" class="form-control block" id="SendEmailCust_subject_{{ord['id']}}" value="Ενημέρωση για την παραγγελία σας Νο {{ord['order_serial']}}" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                  </div>
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <textarea class="form-control" name="telephonecall" id="SendEmailCust_text_{{ord['id']}}" rows="12">
                <p>Η παραγγελία σας με αριθμό αποστολής <b>{{ord['voucher_no']}}</b> βρίσκεται στη  <b>Γενική Ταχυδρομική {{ord['lastCheck']['shop_details']['City']}} </b>, τηλ. {{ord['lastCheck']['shop_details']['Telephone']}} με σήμανση <span style="background-color: #000000; color: #ffffff;">{{ord['lastCheck']['Status']}} [Ημ. και ώρα: {{ord['lastCheck']['StatusDate']}}]</span></p>
                <p>Δείτε τη πορεία της αποστολής <a href="https://www.taxydromiki.com/track/{{ord['voucher_no']}}">εδώ</a></p>
                <p>Μπορείτε να επικοινωνήσετε με τη Γενική Ταχυδρομική στο τηλέφωνο {{ord['lastCheck']['shop_details']['Telephone']}} ώστε να ενημερωθείτε για την παράδοση της αποστολής σας.</p>
                <div>
                <h2>Πορεία αποστολής μέχρι στιγμής</h2>
                {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
                <li class="list-group-item">
                  {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
                </li>
                {% endfor %}
                </div>
                <div>
              <h2>Στοιχεία καταστήματος Γενικής Ταχυδρομικής</h2><br>
              {% if ord.lastCheck.shop_details %}
               Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
               {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
               Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
               email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
              {% endif %}
              <br>
              --
              <br>
              <p>
              wecare.gr<br>
              τηλ. 210 700 1375
              </p>
              </textarea>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-primary buttonSendEmailCust" recipient_email="{{ord['customer_email']}}" recipient_name="{{ord['pricing_surname']}} {{ord['pricing_name']}}" order_id="{{ord['id']}}">Send email</button>
               <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
       {% endif %}
      </td>
      <td>
        {% if ord.lastCheck.shop_details %}
       <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#TelCallModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
        Tel
        </button>
        <br>
        <!-- Button trigger modal -->
      <!-- Modal -->
      <div class="modal fade" id="TelCallModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">
                Καταχώρηση Τηλεφωνικής επικοινωνίας
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <textarea class="form-control" name="telephonecall"  id="Calltext_{{ord['id']}}" rows="12">
               Τηλεφωνική επικοινωνία Κατάσταση αποστολής: {{ord['lastCheck']['Status']}} [{{ord['lastCheck']['StatusDate']}}]
             </textarea>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-primary buttonTelCall" order_id="{{ord['id']}}">Καταγραφή Τηλεφωνήματος</button>
              <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      </td>


    </tr>
    {% endfor %}

  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if data['page'] < 1%} disabled {% endif %}"><a class="page-link" href="?page={{data['page']-1}}&order_type={{data['order_type']}}">Previous</a></li>
    {% for pag in range(1,data['pages']+1) %}
    <li class="page-item {% if data['page'] == pag %} active {% endif %}"><a class="page-link" href="?page={{pag}}&order_type={{data['order_type']}}">{{pag}}</a></li>
    {% endfor %}
    <li class="page-item {% if data['page'] > data['pages']-1 %} disabled {% endif %}"><a class="page-link" href="?page={{data['page']+1}}&order_type={{data['order_type']}}">Next</a></li>
  </ul>
</nav>

  {% else %}
  <div class="alert alert-primary" role="alert"> {{data}}</div>

  {% endif %}
{% else %}
<div class="alert alert-primary" role="alert"> Error No data </div>

{% endif %}

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
