{% extends "maintemplate.html" %}

{% block title %}Soft1 Objects explorer{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click','.updateButton', function(){
      var order_id = $(this).attr('order_id')
      console.log("Update posts for order "+ order_id);

      req = $.ajax({
            url : 'ajax_updateposts',
            type : 'POST',
            data : { id : order_id }
        });

      req.done(function(data) {
          $('#posts_table_'+order_id).fadeOut(250)
          $('#posts_table_'+order_id).html(data);
          $('#posts_table_'+order_id).fadeIn(250);
      });
    });


    $(document).on('click','.buttonSendEmailCust', function(){
      var order_id = $(this).attr('order_id')
      console.log("Email order "+ order_id);
      var emailText = $('#SendEmailCust_text_'+order_id).val()
      console.log("Email text "+ emailText);
      var subject = $('#SendEmailCust_subject_'+order_id).val()
      console.log("Email subj "+ subject);
      var recipient_email = $(this).attr('recipient_email')
      console.log("Email recipient email "+ recipient_email);
      var recipient_name = $(this).attr('recipient_name')
      console.log("Email recipient email "+ recipient_name);
      req = $.ajax({
            context: this,
            url : 'ajax_send_email',
            type : 'POST',
            data : { id : order_id, emailText : emailText, subject:subject, recipient_email:recipient_email, recipient_name:recipient_name }
        });

      req.done(function(data) {

          $(this).disabled=true;
          $(this).text(data.responce);
          $(this).fadeOut(1000);
      });
    });

    $(document).on('click','.buttonSendEmail', function(){
      var order_id = $(this).attr('order_id')
      console.log("Email order "+ order_id);
      var emailText = $('#SendEmail_text_'+order_id).val()
      console.log("Email text "+ emailText);
      var subject = $('#SendEmail_subject_'+order_id).val()
      console.log("Email subj "+ subject);
      var recipient_email = $(this).attr('recipient_email')
      console.log("Email recipient email "+ recipient_email);
      var recipient_name = $(this).attr('recipient_name')
      console.log("Email recipient email "+ recipient_name);
      req = $.ajax({
            context: this,
            url : 'ajax_send_email',
            type : 'POST',
            data : { id : order_id, emailText : emailText, subject:subject, recipient_email:recipient_email, recipient_name:recipient_name }
        });

      req.done(function(data) {
        $(this).disabled=true;
        $(this).text(data.responce);
        $(this).fadeOut(1000);
      });
    });

    $(document).on('click','.buttonSendSMS', function(){
      var order_id = $(this).attr('order_id')
      console.log("order "+ order_id);
      var smstext = $('#smstext_'+order_id).val()
      console.log("Sms text "+ smstext);
      var mobile = $(this).attr('mobile')
      console.log("mobile "+ mobile);
      req = $.ajax({
            context: this,
            url : 'ajax_send_sms',
            type : 'POST',
            data : { id : order_id, smstext : smstext, mobile:mobile }
        });

      req.done(function(data) {
        $(this).disabled=true;
        $(this).text(data.responce);
        $(this).fadeOut(1000);
      });
    });

    $(document).on('click','.buttonTelCall', function(){
      var order_id = $(this).attr('order_id')
      console.log("order "+ order_id);
      var calltext = $('#Calltext_'+order_id).val()
      console.log("Call text "+ calltext);
      req = $.ajax({
            context: this,
            url : 'ajax_tel_call',
            type : 'POST',
            data : { id : order_id, calltext : calltext }
        });

      req.done(function(data) {
        $(this).disabled=true;
        $(this).text(data.responce);
        $(this).fadeOut(1000);
      });
    });
  });
</script>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
{% if posts!=None  %}
  {% if posts['success']%}
  <div class="alert alert-primary" role="alert">
  <a class="page-link" href="/?&page={{posts['page']}}">Back to listing</a>
</div>

<div id="order" class="container-fluid">
  <div class="row">
    <!--START FIRST COLL -->
  <div  class="col-sm" style="width: 20%">
    <h3>Order: {{posts['order']['order_serial']}}</h3>
    <h5>Voucher: {{posts['order']['voucher_no']}}</h5>

    <p>Πληρωμή: <b>{{posts['order']['payway']}}</b></p>
    <p>Σύνολο: <b>{{posts['order']['total_vat']}}</b></p>
    <p>Διεύθυνση:<b> {{posts['order']['pricing_address']}}</b></p>
    <p>Περιοχή: {{posts['order']['pricing_city']}} {{posts['order']['pricing_postal']}}</p>
    <p>Διεύθυνση: {{posts['order']['shipping_address']}}</p>
    <p>Περιοχή: {{posts['order']['shipping_city']}} {{posts['order']['shipping_postal']}}</p>
    <p>Courier: {{posts['order']['courier']}} {{posts['order']['gtjobcode']}}</p>
    <p>Σχόλια πελάτη: <b>{{posts['order']['customer_comments']}}</b></p>
    <p>Σχόλια για κούριερ:<b> {{posts['order']['courier_comments']}}</b></p>


  </div>
  <!-- END FIRST COLL -->
  <!-- START SECOND COLL -->
  <div  class="col-sm" style="width: 30%">
    <h2>{{posts['order']['pricing_surname']}} {{posts['order']['pricing_name']}}</h2>
    <p>{{posts['order']['customer_email']}}</p>
    <br>
    <h5>Αποστολή email</h5>
    <div>
      <!-- Button trigger modal email to customer-->
       {% if posts.order.lastCheck.shop_details %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendEmailCustModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
       email to Customer
       </button>

     <!-- Modal -->
     <div class="modal fade" id="SendEmailCustModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="ModalLabel{{posts['order']['order_serial']}}">Email {{posts['order']['pricing_surname']}} {{posts['order']['pricing_name']}} - {{posts['order']['customer_email']}}
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Subject</span>
                  </div>
                  <input type="text" class="form-control block" id="SendEmailCust_subject_{{posts['order']['id']}}" value="Ενημέρωση για την παραγγελία σας Νο {{posts['order']['order_serial']}}" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                </div>
             </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
            <textarea class="form-control" name="telephonecall" id="SendEmailCust_text_{{posts['order']['id']}}" rows="12">
              <p>Η παραγγελία σας με αριθμό αποστολής <b>{{posts['order']['voucher_no']}}</b> βρίσκεται στη  <b>Γενική Ταχυδρομική {{posts['order']['lastCheck']['shop_details']['City']}} </b>, τηλ. {{posts['order']['lastCheck']['shop_details']['Telephone']}} με σήμανση <span style="background-color: #000000; color: #ffffff;">{{posts['order']['lastCheck']['Status']}} [Ημ. και ώρα: {{posts['order']['lastCheck']['StatusDate']}}]</span></p>
              <p>Δείτε τη πορεία της αποστολής <a href="https://www.taxydromiki.com/track/{{posts['order']['voucher_no']}}">εδώ</a></p>
              <p>Μπορείτε να επικοινωνήσετε με τη Γενική Ταχυδρομική στο τηλέφωνο {{posts['order']['lastCheck']['shop_details']['Telephone']}} ώστε να ενημερωθείτε για την παράδοση της αποστολής σας.</p>
              <div>
              <h2>Πορεία αποστολής μέχρι στιγμής</h2>
              {% for tra in posts['order']['track']['Checkpoints']['Checkpoint'] %}
              <li class="list-group-item">
                {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
              </li>
              {% endfor %}
              </div>
              <div>
            <h2>Στοιχεία καταστήματος Γενικής Ταχυδρομικής</h2><br>
            {% if posts.order.lastCheck.shop_details %}
             Κωδ.:{{posts['order']['lastCheck']['shop_details']['Code']}} - {{posts['order']['lastCheck']['shop_details']['State']}}<br>
             {{posts['order']['lastCheck']['shop_details']['Address']}} - ΤΚ. {{posts['order']['lastCheck']['shop_details']['Zip']}}<br>
             Tel.:{{posts['order']['lastCheck']['shop_details']['Telephone']}}<br>
             email: {{posts['order']['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{posts['order']['lastCheck']['shop_details']['Latitude']}},{{posts['order']['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
            {% endif %}
            <br>
            --
            <br>
            <p>
            wecare.gr<br>
            τηλ. 210 700 1375
            </p>
            </textarea>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary buttonSendEmailCust" recipient_email="{{posts['order']['customer_email']}}" recipient_name="{{posts['order']['pricing_surname']}} {{posts['order']['pricing_name']}}" order_id="{{posts['order']['id']}}">Send email</button>
             <button type="button" class="btn btn-secondary updateButton" order_id="{{posts['order']['id']}}" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>
     {% endif %}

    </div>
    {% if posts.order.lastCheck.shop_details %}
   <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#SendEmailModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
    Send email to Geniki
    </button>
    <br>
    <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="SendEmailModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel{{posts['order']['order_serial']}}">Email Γενικη Ταχυδρομικη
            <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon1">Subject</span>
               </div>
               <input type="text" class="form-control block" id="SendEmail_subject_{{posts['order']['id']}}" value="Voucher {{posts['order']['voucher_no']}} καθυστέρηση παράδοσης" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
             </div>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <textarea class="form-control" name="telephonecall" id="SendEmail_text_{{posts['order']['id']}}" rows="12">
           <p>Η αποστολή με voucher <b>{{posts['order']['voucher_no']}}</b> δεν έχει παραδοθεί ακόμη και είναι σε κατάσταση <span style="background-color: #ffff99;">{{posts['order']['lastCheck']['Status']}} [{{posts['order']['lastCheck']['StatusDate']}}]</span></p>
           <p>Παρακαλώ να γίνει διευκρίνηση ποιος είναι ο λόγος καθυστέρησης</p>
           <div>
           {% for tra in posts['order']['track']['Checkpoints']['Checkpoint'] %}
           <li class="list-group-item">
             {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
           </li>
           {% endfor %}
           </div>
           <div>
         <h2>Κατάστημα τελευταίου σκαναρίσματος</h2><br>
         {% if posts.order.lastCheck.shop_details %}
          Κωδ.:{{posts['order']['lastCheck']['shop_details']['Code']}} - {{posts['order']['lastCheck']['shop_details']['State']}}<br>
          {{posts['order']['lastCheck']['shop_details']['Address']}} - ΤΚ. {{posts['order']['lastCheck']['shop_details']['Zip']}}<br>
          Tel.:{{posts['order']['lastCheck']['shop_details']['Telephone']}}<br>
          email: {{posts['order']['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{posts['order']['lastCheck']['shop_details']['Latitude']}},{{posts['order']['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
         {% endif %}
         <br>
         </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary buttonSendEmail" recipient_email="emailGeniki" recipient_name="Γενική Φιλιππιάδας" order_id="{{posts['order']['id']}}">Send email</button>
          <button type="button" class="btn btn-secondary updateButton" order_id="{{posts['order']['id']}}" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


    <br>
    <div>
      <h5>Αποστολή SMS</h5>

      {%if posts['order']['smsphone']['status']=='1'%}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success " data-toggle="modal" data-target="#smsphoneModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample"> {{posts['order']['smsphone']['mobile']['msisdn']}} <span class="badge badge-light">SEND SMS</span> </button>
      <!-- Modal -smsPhone-->
      <div class="modal fade" id="smsphoneModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="smsphoneModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="smsphoneModalLabel{{posts['order']['order_serial']}}">SMS {{posts['order']['smsphone']['mobile']['msisdn']}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea class="form-control" id="smstext_{{posts['order']['id']}}"name="smstext" rows="6">{{posts['order']['smstext']}}</textarea>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary buttonSendSMS" mobile="{{posts['order']['smsphone']['mobile']['msisdn']}}" order_id="{{posts['order']['id']}}">Send SMS</button>
              <button type="button" class="btn btn-secondary updateButton" order_id="{{posts['order']['id']}}" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     <!-- END Button trigger modal -->
      {% else %}
      {{posts['order']['shipping_phone']}}
      {% endif %}

    </div>

    <br>
    <div>
      <h5>Αποστολή SMS</h5>
      {%if posts['order']['smsmobile']['status']=='1'%}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success " data-toggle="modal" data-target="#smsphoneModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample"> {{posts['order']['smsmobile']['mobile']['msisdn']}} <span class="badge badge-light">SEND SMS</span> </button>
      <!-- Modal -smsPhone-->
      <div class="modal fade" id="smsphoneModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="smsphoneModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="smsphoneModalLabel{{posts['order']['order_serial']}}">SMS {{posts['order']['smsmobile']['mobile']['msisdn']}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea class="form-control" id="smstext_{{posts['order']['id']}}"name="smstext" rows="6">{{posts['order']['smstext']}}</textarea>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary buttonSendSMS" mobile="{{posts['order']['smsmobile']['mobile']['msisdn']}}" order_id="{{posts['order']['id']}}">Send SMS</button>
              <button type="button" class="btn btn-secondary updateButton" order_id="{{posts['order']['id']}}" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     <!-- END Button trigger modal -->
      {% else %}
      {{posts['order']['shipping_phone']}}
      {% endif %}

    </div>

    <br>
    <h5>Σχόλια και τηλεφωνική επικοινωνία</h5>
    {% if posts.order.lastCheck.shop_details %}
   <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#TelCallModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
    Καταγραφή Τηλεφωνικής Επικοινωνίας
    </button>
    <br>
    <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="TelCallModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel{{posts['order']['order_serial']}}">
            Καταχώρηση Τηλεφωνικής επικοινωνίας
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <textarea class="form-control" name="telephonecall"  id="Calltext_{{posts['order']['id']}}" rows="12">
           Τηλεφωνική επικοινωνία Κατάσταση αποστολής: {{posts['order']['lastCheck']['Status']}} [{{posts['order']['lastCheck']['StatusDate']}}]
         </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary buttonTelCall" order_id="{{posts['order']['id']}}">Καταγραφή Τηλεφωνήματος</button>
          <button type="button" class="btn btn-secondary updateButton" order_id="{{posts['order']['id']}}" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
<br>
</div>
    <!-- END SECOND COLL -->
    <!-- START THIRD COLL -->
    <!-- Button trigger modal -->
   <div>
      {% if posts.order.lastCheck.shop_details %}
     <button type="button" class="btn btn-dark " data-toggle="modal" data-target="#ShopModal{{posts['order']['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
      {{posts['order']['lastCheck']['StatusDate']}}  <span class="badge badge-light">{{posts['order']['lastCheck']['Shop']}} </span>
      </button>

    <!-- Modal -->
    <div class="modal fade" id="ShopModal{{posts['order']['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{posts['order']['order_serial']}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel{{posts['order']['order_serial']}}">  {{posts['order']['lastCheck']['shop_details']['City']}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Κωδ.:{{posts['order']['lastCheck']['shop_details']['Code']}} - {{posts['order']['lastCheck']['shop_details']['State']}}<br>
            {{posts['order']['lastCheck']['shop_details']['Address']}} - ΤΚ. {{posts['order']['lastCheck']['shop_details']['Zip']}}<br>
            Tel.:{{posts['order']['lastCheck']['shop_details']['Telephone']}}<br>
            email: {{posts['order']['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{posts['order']['lastCheck']['shop_details']['Latitude']}},{{posts['order']['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
   </div>
   <!-- END Button trigger modal -->
  <div  class="col-sm">
    <div>
      <button type="button" class="btn btn-{{posts['order']['lastCheck']['alert']}}">
      {{posts['order']['lastCheck']['Status']}}
      </button>
       {% if posts.order.lastCheck.gps %}
      <a href="{{posts['order']['lastCheck']['gps']}}" role="button" class="btn btn-info " target="_blank">
        map
      </a>
      {% endif %}
        <div">
          <div class="card card-body">
            <ul class="list-group">
              <li class="list-group-item">Comments:
              {{posts['order']['courier_comments']}}
              </li>

              {% for tra in posts['order']['track']['Checkpoints']['Checkpoint'] %}
              <li class="list-group-item">
                <button type="button" class="btn btn-{{tra['alert']}}">
                {{tra['Shop']}}  <span class="badge badge-light">{{tra['Status']}}</span><span class="badge badge-light">{{tra['StatusDate']}}</span>
                </button>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
  <!-- END ROW -->


<div class="container">
<table class="table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ημερομηνία</th>
      <th scope="col">Action</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody order_id="posts['order']['id']" id="posts_table_{{posts['order']['id']}}">
    {% for post in posts['rows'] %}
    <tr>
      <th scope="row">{{post['date_posted']}}</th>
      <td>
        <button type="button" class="btn btn-success">
          {{post['action']}}
        </button>
      </td>
      <td>{{post['comment']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
  {% else %}
  <div class="alert alert-primary" role="alert"> {{data}}</div>
  {% endif %}
{% else %}
<div class="alert alert-primary" role="alert"> Error No data </div>
{% endif %}

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
