{% for post in posts['rows'] %}
<tr>
  <th scope="row">{{post['date_posted']}}</th>
  <td>
    <button type="button" class="btn btn-success">
      {{post['action']}}
    </button>
  </td>
  <td>{{post['comment']}}</td>
</tr>
{% endfor %}
