
{% if progress_data %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Downloading orders</h5>
    <div>
      <p>Download progress</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{progress_data['percent']}}%" aria-valuenow="{{progress_data['progress_download_pages']}}" aria-valuemin="0" aria-valuemax="{{progress_data['total_download_pages']}}"></div>
      </div>
    </div>
    <p class="card-text">
      {{progress_data['percent']}}% Downloaded <br>
      Now on batch {{progress_data['progress_download_pages']}} of {{progress_data['total_download_pages']}}
    </p>

  </div>
</div>
{% endif %}
{% if data %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Downloading orders</h5>
    <p>Η αποθήκευση ολοκληρώθηκε. Μπορείτε να συνεχίσετε</p>
    <a href="/" class="btn btn-primary">Λίστα παραγγελίών</a>

  </div>
</div>

{% endif %}
