<th scope="row"><a href="/order_posts?id={{ord['id']}}&page=0" type="button" class="btn btn-primary">{{ord['order_serial']}}</a></th>
<td>{{ord['date_invoiced']}}</td>
<td><b>{{ord['voucher_no']}}</b></td>
<td>{{ord['pricing_surname']}} {{ord['pricing_name']}}
  <p>
    {% for act in ord['actions']%}
       <button type="button" class="btn btn-primary btn-sm">{{act}}</button>
    {% endfor %}
  </p>
</td>
<td>{{ord['shipping_phone']}}<br>{{ord['shipping_mobile']}}<br></td>
<td>
  <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#admin_com_collapse{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">{{ord['lastCheck']['StatusDate']}}  {{ord['gtjobcode']}} {{ord['courier']}}<span class="badge badge-light">{{ord['gtcount']}} </span></button>
  <div class="collapse" id="admin_com_collapse{{ord['order_serial']}}">
  <form action="/" method="post" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <input type="hidden" name="order_id" value="{{ord['order_serial']}}">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="is_resolved" value=1 id="is_resolved{{ord['order_serial']}}" {% if ord['is_resolved']==1 %} checked {% endif %}>
        <label class="form-check-label" for="is_resolved{{ord['order_serial']}}">
          Ολοκλήρωση παρακολούθησης
        </label>
      </div>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">voucher</span>
        </div>
        <input type="text" class="form-control" placeholder="Voucher" name="voucher_no" value="{{ord['voucher_no']}}" aria-label="Voucher" aria-describedby="addon-wrapping">
      </div>
      <textarea class="form-control" name="txtAdminComments" rows="2">{{ord['admin_comments']}}</textarea>
         <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </form>

  </div>
</td>
<td>
  <div class="container-fluid">
    <button type="button" class="btn btn-{{ord['lastCheck']['alert']}} " data-toggle="collapse" data-target="#collapse{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
  {{ord['lastCheck']['Status']}}
  </button>


  <div class="collapse" id="collapse{{ord['order_serial']}}">
    <div class="card card-body">
      <ul class="list-group">
        <li class="list-group-item">Comments:
        {{ord['courier_comments']}}
        </li>

        {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
        <li class="list-group-item">
          <button type="button" class="btn btn-{{tra['alert']}}">
          {{tra['Shop']}}  <span class="badge badge-light">{{tra['Status']}}</span><span class="badge badge-light">{{tra['StatusDate']}}</span>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</td>
<td>
   {% if ord.lastCheck.shop_details %}
  <button type="button" class="btn btn-dark " data-toggle="modal" data-target="#ShopModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
   {{ord['lastCheck']['Shop']}}
   </button>
   <!-- Button trigger modal -->



 <!-- Modal -->
 <div class="modal fade" id="ShopModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">  {{ord['lastCheck']['shop_details']['City']}}</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
         {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
         Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
         email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 {% endif %}
</td>
<td>
   {% if ord.lastCheck.shop_details %}
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#SendEmailModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
   Send
   </button>
   <!-- Button trigger modal -->
 <!-- Modal -->
 <div class="modal fade" id="SendEmailModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">Email Γενικη Ταχυδρομικη
           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Subject</span>
              </div>
              <input type="text" class="form-control block" id="SendEmail_subject_{{ord['id']}}" value="Voucher {{ord['voucher_no']}} καθυστέρηση παράδοσης" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
            </div>
         </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <textarea class="form-control" name="telephonecall" id="SendEmail_text_{{ord['id']}}" rows="12">
          <p>Η αποστολή με voucher <b>{{ord['voucher_no']}}</b> δεν έχει παραδοθεί ακόμη και είναι σε κατάσταση <span style="background-color: #ffff99;">{{ord['lastCheck']['Status']}} [{{ord['lastCheck']['StatusDate']}}]</span></p>
          <p>Παρακαλώ να γίνει διευκρίνηση ποιος είναι ο λόγος καθυστέρησης</p>
          <div>
          {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
          <li class="list-group-item">
            {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
          </li>
          {% endfor %}
          </div>
          <div>
        <h2>Κατάστημα τελευταίου σκαναρίσματος</h2><br>
        {% if ord.lastCheck.shop_details %}
         Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
         {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
         Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
         email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
        {% endif %}
        <br>
        </textarea>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary buttonSendEmail" recipient_email="emailGeniki" recipient_name="Γενική Φιλιππιάδας" order_id="{{ord['id']}}">Send email</button>
         <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 {% endif %}
</td>
<td>
  <!-- Button trigger modal email to customer-->
   {% if ord.lastCheck.shop_details %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendEmailCustModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
   Send
   </button>

 <!-- Modal -->
 <div class="modal fade" id="SendEmailCustModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">Email {{ord['pricing_surname']}} {{ord['pricing_name']}} - {{ord['customer_email']}}
           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Subject</span>
              </div>
              <input type="text" class="form-control block" id="SendEmailCust_subject_{{ord['id']}}" value="Ενημέρωση για την παραγγελία σας Νο {{ord['order_serial']}}" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
            </div>
         </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        <textarea class="form-control" name="telephonecall" id="SendEmailCust_text_{{ord['id']}}" rows="12">
          <p>Η παραγγελία σας με αριθμό αποστολής <b>{{ord['voucher_no']}}</b> βρίσκεται στη  <b>Γενική Ταχυδρομική {{ord['lastCheck']['shop_details']['City']}} </b>, τηλ. {{ord['lastCheck']['shop_details']['Telephone']}} με σήμανση <span style="background-color: #000000; color: #ffffff;">{{ord['lastCheck']['Status']}} [Ημ. και ώρα: {{ord['lastCheck']['StatusDate']}}]</span></p>
          <p>Δείτε τη πορεία της αποστολής <a href="https://www.taxydromiki.com/track/{{ord['voucher_no']}}">εδώ</a></p>
          <p>Μπορείτε να επικοινωνήσετε με τη Γενική Ταχυδρομική στο τηλέφωνο {{ord['lastCheck']['shop_details']['Telephone']}} ώστε να ενημερωθείτε για την παράδοση της αποστολής σας.</p>
          <div>
          <h2>Πορεία αποστολής μέχρι στιγμής</h2>
          {% for tra in ord['track']['Checkpoints']['Checkpoint'] %}
          <li class="list-group-item">
            {{tra['Shop']}} - {{tra['Status']}} - {{tra['StatusDate']}}
          </li>
          {% endfor %}
          </div>
          <div>
        <h2>Στοιχεία καταστήματος Γενικής Ταχυδρομικής</h2><br>
        {% if ord.lastCheck.shop_details %}
         Κωδ.:{{ord['lastCheck']['shop_details']['Code']}} - {{ord['lastCheck']['shop_details']['State']}}<br>
         {{ord['lastCheck']['shop_details']['Address']}} - ΤΚ. {{ord['lastCheck']['shop_details']['Zip']}}<br>
         Tel.:{{ord['lastCheck']['shop_details']['Telephone']}}<br>
         email: {{ord['lastCheck']['shop_details']['Email']}} - <a href="https://www.google.com/maps/@{{ord['lastCheck']['shop_details']['Latitude']}},{{ord['lastCheck']['shop_details']['Longitude']}},17z" target="_blank"> Χάρτης Καταστήματος </a><br>
        {% endif %}
        <br>
        --
        <br>
        <p>
        wecare.gr<br>
        τηλ. 210 700 1375
        </p>
        </textarea>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary buttonSendEmailCust" recipient_email="{{ord['customer_email']}}" recipient_name="{{ord['pricing_surname']}} {{ord['pricing_name']}}" order_id="{{ord['id']}}">Send email</button>
         <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 {% endif %}
</td>
<td>
  {% if ord.lastCheck.shop_details %}
 <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#TelCallModal{{ord['order_serial']}}" aria-expanded="false" aria-controls="collapseExample">
  Tel
  </button>
  <br>
  <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="TelCallModal{{ord['order_serial']}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ord['order_serial']}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel{{ord['order_serial']}}">
          Καταχώρηση Τηλεφωνικής επικοινωνίας
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <textarea class="form-control" name="telephonecall"  id="Calltext_{{ord['id']}}" rows="12">
         Τηλεφωνική επικοινωνία Κατάσταση αποστολής: {{ord['lastCheck']['Status']}} [{{ord['lastCheck']['StatusDate']}}]
       </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary buttonTelCall" order_id="{{ord['id']}}">Καταγραφή Τηλεφωνήματος</button>
        <button type="button" class="btn btn-secondary updateButton" order_id="{{ord['id']}}" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
</td>
