{% extends "maintemplate.html" %}

{% block title %}Soft1 Objects explorer{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
  $(function(){
  	$('button').click(function(){
  		var order_id = $('#test_hid').val();
  		console.log('response');
  		$.ajax({
  			url: '/AJAXchangeStatus',
  			data: $('form').serialize(),
  			type: 'POST',
  			success: function(response){
  				console.log(response);
  			},
  			error: function(error){
  				console.log(error);
  			}
  		});
  	});
  });
</script>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}

{% if data  %}
  {% if data['success']%}
<div class="alert alert-primary" role="alert">Βρέθηκαν {{data['count']}} μη παραδομένες παραγγελίες. Η ανανέωση έγινε κανονικά</div>
  {% endif %}
{% endif %}
<form role="form">
  <div class="form-group mb-3">
    <input type="hidden" name="order_id" id="test_hid" value="testval">
    <button type="button" class="btn btn-light" >CallAjax</button>
  </div>
</form>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
